<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.GoHere.GoHere" version="1.0.0">
  <name>GoHere</name>
  <description>Find a washroom near to you.</description>
  <author href="http://phonegap.com" email="rjwonders@gmail.com">Rahul Bhatt</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="DisallowOverscroll" value="true"/>
  <gap:plugin name="org.apache.cordova.console"/>
  <gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.device-motion"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.geolocation"/>
  <gap:plugin name="org.apache.cordova.globalization"/>
  <gap:plugin name="org.apache.cordova.inappbrowser"/>
  <gap:plugin name="org.apache.cordova.media"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>
  <gap:plugin name="org.apache.cordova.vibration"/>
  <icon src="res/icon/ios/Icon.png"/>
  
  <icon src="res/icon/android/drawable-ldpi/ic_launcher.png" density="ldpi" />
  <icon src="res/icon/android/drawable-mdpi/ic_launcher.png" density="mdpi" />
  <icon src="res/icon/android/drawable-hdpi/ic_launcher.png" density="hdpi" />
  <icon src="res/icon/android/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
  <icon src="res/icon/android/drawable-xxhdpi/ic_launcher.png" density="xxhdpi" />
  <icon src="res/icon/android/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
 
  <icon src="res/icon/ios/Icon-60@3x.png" width="180" height="180" />
  <icon src="res/icon/ios/Icon-60.png" width="60" height="60" />
  <icon src="res/icon/ios/Icon-60@2x.png" width="120" height="120" />
  <icon src="res/icon/ios/Icon-76.png" width="76" height="76" />
  <icon src="res/icon/ios/Icon-76@2x.png" width="152" height="152" />
  <icon src="res/icon/ios/Icon-40.png" width="40" height="40" />
  <icon src="res/icon/ios/Icon-40@2x.png" width="80" height="80" />
  <icon src="res/icon/ios/Icon.png" width="57" height="57" />
  <icon src="res/icon/ios/Icon@2x.png" width="114" height="114" />
  <icon src="res/icon/ios/Icon-72.png" width="72" height="72" />
  <icon src="res/icon/ios/Icon-72@2x.png" width="144" height="144" />
  <icon src="res/icon/ios/Icon-small.png" width="29" height="29" />
  <icon src="res/icon/ios/Icon-small@2x.png" width="58" height="58" />
  <icon src="res/icon/ios/Icon-small-50.png" width="50" height="50" />
  <icon src="res/icon/ios/Icon-small-50@2x.png" width="100" height="100" />
  
  
  <splash src="res/screen/android/hdpi.png" density="port-hdpi"/>
  <splash src="res/screen/android/mdpi.png" density="port-mdpi"/>
  <splash src="res/screen/android/xhdpi.png" density="port-xhdpi"/>
  <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
  <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
  <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
  <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
  <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
  <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
  <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
  
  <feature name="Geolocation">
	<param name="ios-package" value="CDVLocation" />
  </feature>
  <preference name="websecurity" value="disable" />
  <access origin="*" />
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
	<allow-intent href="http://*/*" />
	<access origin="*" />
  </platform>
  <platform name="ios">
  	<access origin="*" />
  	<allow-intent href="http://*/*" />
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <platform name="blackberry">
  	<access origin="*" />
  	<allow-intent href="http://*/*" />
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <preference name="SplashScreenDelay" value="5000" />
</widget>