<style type="text/css">
	.angular-google-map-container { height: 200px;  width: 100%; }
</style>
<div class="content">
	<div class="header-clear"></div>
	<div class="page-profile">
    	<div class="page-profile-header">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' expression='true' options="{disableDefaultUI: true}">
                <ui-gmap-marker ng-repeat="m in map.markers" idKey="m.id" options="{icon:m.icon}" coords="m.coords" ></ui-gmap-marker>
            </ui-gmap-google-map>
            <div class="page-profile-followers col-xs-2 col-xs-offset-10">
                <a class="col-xs-12 text-center" href="https://www.google.ca/maps/dir/{{Currentlats}},{{Currentlongs}}/{{lats}},{{longs}}">
                    <i class="fa fa-map-marker"></i>
                </a>

                <a class="col-xs-12 text-center"  href="javascript:void(0)">
                    <i class="fa fa-wheelchair"></i>
                </a>

                <a class="col-xs-12 text-center"  href ng-click="checkFavorites()" class="favid">
                    <i class="fa fa-flag-o"></i>
                </a>
            </div>
        </div>


		<div class="decoration"></div>
		<div class="container no-bottom detail-page">
        	<div class="sidebar-left-small">
            	<ul class="font-icon-list">
                	<li>
                        <a  href="https://www.google.ca/maps/dir/{{Currentlats}},{{Currentlongs}}/{{lats}},{{longs}}">
                            <i class="fa fa-map-marker"></i>
                            <strong class="red">Directions to here</strong>
                        </a>
                    </li>
                    <li class="col-xs-9 sub"><a href="javascript:void(0)">{{WashroomAddress}}</a></li>
				</ul>
                <div class="decoration"></div>
                <ul class="font-icon-list">
                	<li><a href="javascript:void(0)"><i class="fa fa-clock-o"></i><strong>Hours of Operation</strong></a></li>
                    <li class="sub"><a href="javascript:void(0)">{{WashroomTiming}}</a></li>
				</ul>
                <div class="decoration"></div>
                <p>{{WashroomDesc}}</p>
                <ul class="font-icon-list">
                    <li><a href="javascript:void(0)"><i class="fa fa-star-o"></i><strong>Rating</strong></a></li>
                    <li class="sub logincomment">Please login to submit rating</li>
                    <li class="sub">
                    	<input type="number" id="OverallRating" class="rating" min=1 max=5 step=1 data-size="sm" data-symbol="&#xf005;" showCaption="false"  data-rating-class="rating-fa" data-disabled="true" value="" data-glyphicon="false">
                        <!--<i class="fa fa-star" style="color:#ffcb34"></i>
                        <i class="fa fa-star" style="color:#ffcb34"></i>
                        <i class="fa fa-star" style="color:#ffcb34"></i>
                        <i class="fa fa-star" style="color:#ffcb34"></i>
                        <i class="fa fa-star-o" style="color:#ffcb34"></i>-->
                    </li>
                    <li class="ratingbox">
                    	<form name="ratingForm" ng-submit="submitRating(ratingForm.$valid)" novalidate>
                        	<h5>Cleanness</h5>
                        	<input id="Cleanness" type="number" class="rating" min=1 max=5 step=1 data-size="sm" data-symbol="&#xf005;" showCaption="false" clearButton="" data-rating-class="rating-fa" data-glyphicon="false">
                            <input type="hidden" name="Cleanness" ng-model="Cleanness" value="" required/>
                        	<h5>Ease of Access</h5>
                        	<input id="EaseAccess" type="number" class="rating" min=1 max=5 step=1 data-size="sm" data-symbol="&#xf005;" showCaption="false" clearButton="" data-rating-class="rating-fa" data-glyphicon="false" >
                            <input type="hidden" name="EaseAccess" ng-model="EaseAccess" value="" required/>
                        	<h5>Available Hours</h5>
                        	<input id="AvailableHours" type="number" class="rating" min=1 max=5 step=1 data-size="sm" data-symbol="&#xf005;" showCaption="false" clearButton="" data-rating-class="rating-fa" data-glyphicon="false">
                            <input type="hidden" name="AvailableHours" ng-model="AvailableHours" value="" required />
                            <div style="margin-bottom:15px;"></div>
                            <div class="alert alert-danger hide" role="alert"></div>
                            <div class="alert alert-success hide" role="alert"></div>
                            <input type="submit" name="AddRating" value="Add Rating" class="login-button button button-small button-green button-fullscreen full-bottom" />   
                        </form>
                    </li>
                </ul>
                <div class="decoration"></div>
                <ul class="font-icon-list">
                    <li><a href="javascript:void(0)"><i class="fa fa-comment-o"></i><strong>Comments</strong></a></li>
                    <div class="pleaselogin">
                        <p  style="margin-left:24px">Please <a href="#/login" class="login-already">login</a> to comment.</p>
                    </div>
                </ul>
			</div>
		</div>

		<div class="container no-bottom">

            <div class="container no-bottom">

              <div class="one-third-responsive full-bottom pleasecomment hide">
              	<div class="static-notification bg-green-dark tap-dismiss commentsuccess">
					<p><i class="fa fa-check"></i> Comment Posted Successfully.</p>
			  	</div>
                <form name="userForm" ng-submit="setComment(userForm.$valid)" novalidate>
                  <textarea placeholder="Write your comment..."  ng-model="Comment" name="Comment" class="contactTextarea requiredField" required></textarea>
                  <div style="color:red" ng-show="userForm.Comment.$dirty && userForm.Comment.$invalid">
                    <span ng-show="userForm.Comment.$error.required">Comment is required.</span>
                  </div>
                  <input type="submit" value="SUBMIT" class="buttonWrap button button-green contactSubmitButton" ng-disabled="userForm.$invalid">
              	</form>
              </div>     
    	</div>
            <div class="one-half-responsive addcomments">

            </div>
    </div>
</div></div>