<style type="text/css">
	.angular-google-map-container { height: 200px;  width: 100%; }
</style>
<div class="content">
	<div class="header-clear"></div>
	<div class="page-profile">
    	<div class="page-profile-header">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' expression='true' options="{disableDefaultUI: true}">
                <ui-gmap-marker ng-repeat="m in map.markers" idKey="m.id" options="{icon:m.icon}" coords="m.coords" ></ui-gmap-marker>
        	</ui-gmap-google-map>
        </div>
        <div class="container no-bottom">
        	<h4 class="no-bottom" style="padding-bottom:8px;">{{WashroomName}}</h4>
        </div>
        <div class="decoration" style="margin-bottom:5px;"></div>
        <div class="page-profile-followers">
            <a href="javascript:void(0)">
                <i class="fa fa-location-arrow"></i>
                
            </a>
            <a href="javascript:void(0)">
                <i class="fa fa-wheelchair"></i>
            </a>
            <a href="javascript:void(0)">
                <i class="fa fa-flag-o"></i>
            </a>
        </div>

                
		<div class="decoration"></div>
		<div class="container no-bottom">
        	<div class="sidebar-left-small">
            	<ul class="font-icon-list">
                	<li><a href="javascript:void(0)"><i class="fa fa-location-arrow"></i><strong>Hours of Operation</strong></a></li>
                    <li><a href="javascript:void(0)"><i>&nbsp;&nbsp;&nbsp;&nbsp;</i>{{WashroomAddress}}</a></li>
				</ul>
                <div class="decoration"></div>
                <ul class="font-icon-list">
                	<li><a href="javascript:void(0)"><i class="fa fa-clock-o"></i><strong>Hours of Operation</strong></a></li>
                    <li><a href="javascript:void(0)"><i>&nbsp;&nbsp;&nbsp;&nbsp;</i>{{WashroomTiming}}</a></li>
				</ul>
                <div class="decoration"></div>
                <p>{{WashroomDesc}}</p>
                
			</div>
		</div>
        <div class="container no-bottom">
        	<h4 class="no-bottom" style="padding-bottom:8px;">Comments</h4>
        </div>
        <div class="decoration"></div>
		<div class="container no-bottom">
        	<div class="one-half-responsive addcomments">
                
            </div> 
            <div class="container no-bottom">
                <h4 class="no-bottom" style="padding-bottom:8px;">Post a Comment</h4>
            </div> 
            <div class="decoration"></div>
            <div class="container">
              <div class="static-notification bg-orange-dark tap-dismiss pleaselogin">
					<p><i class="fa fa-exclamation"></i>Please <a href="#/login" class="login-already" style="color:#FFF; opacity: 0.8">login</a> to comment.</p>
			  </div>   
              <div class="one-third-responsive full-bottom pleasecomment hide">
              	<div class="static-notification bg-green-dark tap-dismiss commentsuccess">
					<p><i class="fa fa-check"></i> Comment Posted Successfully.</p>
			  	</div>
                <form name="userForm" ng-submit="setComment(userForm.$valid)" novalidate>
                  <textarea  ng-model="Comment" class="contactTextarea requiredField" required></textarea>
                  <input type="submit" value="SUBMIT COMMENT" class="buttonWrap button button-green contactSubmitButton" ng-disabled="userForm.$invalid">
              	</form>
              </div>     
    	</div>
    </div>
</div>