<div class="content">
	<div class="header-clear"></div>
    <div class="pageapp-login bg-5 cover-screen">  
    	<div class="pageapp-login-content cover-center">
			<div class="unboxed-layout">
    			<form novalidate name="userForm" ng-submit="checkLogin(userForm.$valid)">
          			<a href="javascript:void(0)" class="pageapp-login-logo"></a>
                    <div class="alert alert-danger hide" role="alert"></div>
                      <div class="pageapp-login-field">
                          <i class="fa fa-user"></i>
                          <input type="email" value="Email" ng-model="Email" onfocus="if (this.value=='Email') this.value = ''" onblur="if (this.value=='') this.value = 'Email'">
                      </div>
                      <div class="pageapp-login-field">
                          <i class="fa fa-lock"></i>
                          <input type="password" value="password"  ng-model="Password" onfocus="if (this.value=='password') this.value = ''" onblur="if (this.value=='') this.value = 'password'" required>
                      </div>
                      <div class="clear"></div>
                      <input type="submit" name="Login" value="Login" ng-disabled="userForm.$invalid" class="login-button button button-small button-green button-fullscreen full-bottom"/> 
                      <div class="decoration"></div>
                      <div class="row">
                      	<div class="col-xs-6">
                            <a href="#/forget-password" class="login-forgot"><i class="fa fa-eye"></i> Forgot Credentials</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#/create-account" class="login-create"><i class="fa fa-user"></i> Create Account</a>
                        </div>
                      </div>
                      <div class="decoration"></div>
                      <div class="clear"></div>
                      <a href="javascript:void(0)" ng-click="facebookLogin()" class="facebook-login facebook-color"><i class="fa fa-facebook"></i>Login with Facebook</a>
				</form>
    		</div>
		</div>
    	<div class="overlay bg-black"></div>
    </div>
</div>