<style type="text/css">
	.angular-google-map-container { height: 300px;  width: 100%; }
</style>
<div class="content">
	<div class="header-clear"></div>
    <div class="row expandicon">
    	<a href="" ng-click="closeMap()" class="roundbg">
    		<i class="fa fa-compress"></i>
    	</a>
    </div>
    <div class="row searchmap center-block">
    	<form name="userForm" ng-submit="searchzip()" novalidate>
            <div class="row col-xs-7">
                <input ng-model="FromAddress" id="FromAddress" type="text" value="" class="form-control" placeholder="From Address" g-places-autocomplete force-selection="true" required autocomplete="off">
            </div>
            <div class="row col-xs-2">
                <input type="submit" name="AddLocation" value="GO" class="login-button button-red red-bg button-fullscreen"/>
            </div>
            <div class="row col-xs-7" style="margin-top: 5px;">
                <input ng-model="ToAddress" id="ToAddress" type="text" value="" class="form-control" g-places-autocomplete force-selection="true" placeholder="To Address" autocomplete="off">
            </div>


        </form>
    </div>
	<ui-gmap-google-map center='map.center' zoom='map.zoom' refresh='true' dorebuildall="true" expression='true' options="{disableDefaultUI: true}" ng-click="expandMap()">
    	<ui-gmap-marker ng-repeat="m in map.markers" idKey="m.id" options="{icon:m.icon}" coords="m.coords" ></ui-gmap-marker>
    </ui-gmap-google-map>
    <div class="container hidetext" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
    	<div class="one-third-responsive mapinfo" style="width:100%">
        </div>
    </div>
</div>